.c-myfontheading{
    font-weight: var(--lwc-font-weight-bold);
    font-size : x-large;
}

.c-myfontsubheading{
    font-weight: var(--lwc-font-weight-bold);
    font-size : large;
}

  
  .image--cover {
    width: 73px;
    height: 73px;
    left: 5px;
    top: 0px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }